*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top:30px;
    padding:20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
    position: relative;
}

.fomularioTitulo{
    text-align: center;
    margin-top: 0;
    color: black;
}
.formulario__input, .formulario__label{
    display:block;
    width:100%;
    font-size:1.3em;
}
.formulario__input{
    padding:20px;
    background: transparent;
    margin-bottom:30px;
    border:1px solid rgba(0,0,0,0.3);
}
.formulario__input:focus {
    outline: 1px solid rgba(255,255,255,0.5);
}
.formulario__input:focus + .formulario__label{
    margin-top: -130px;
}
.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index:-20;
    transition: all 0.2s;
}
.formulario__image img{
    max-width: 100%;
    width: 100px;
    align-items:center;
}
.fijar{
    margin-top:-135px; 
}
button{
    margin-bottom:40px;
    width: 300px;
    max-width: 100%;
    margin: auto;
    margin-top:30px;
    padding:20px;
    display:block;
    background-color:rgba(139, 29, 29, 0.5)
}